<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Logger for your App class -->
        <Logger name="org.example.App" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- Root logger to catch everything else -->
        <!--types of levels :ALL>TRACE>DEBUG>INFO>WARN>ERROR>FATAL>OF-->
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
